*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.links a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(253, 253, 253);
}
.links a:hover{
    font-size: 16px;
    color: rgb(77, 170, 246);
}
.links select{
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: white;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
nav h1{
    font-size: 30px;
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 90px;
    width: 100%; 
    background-color: black;
}
/* ========================nav================================= */
.details{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 20px;
}
.imgage img{
    width: 170px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.279), 0 6px 20px rgba(0, 0, 0, 0.269)9);}
.imgage{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 480px;
    height: 230px;
}

.smallbox{
    width: 400px;
    height: 12px;
    background-color: rgb(43, 116, 241);
}
.smallbox1{
    width: 350px;
    height: 12px;
    background-color: rgb(43, 116, 241);
}
.smallbox2{
    width: 250px;
    height: 12px;
    background-color: rgb(43, 116, 241);
}
.smallbox3{
    width: 480px;
    height: 12px;
    background-color: rgb(43, 116, 241);
}

.bigbox{
    width:500px;
    height: 12px;
    background-color: rgba(0, 0, 255, 0.18);

}
.wrap_detail{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 16px;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.section h1{
    font-size: 26px;
    font-weight: 500;
    color: rgb(26, 25, 25);
    margin-left: 15px;
}
.section{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 10px;
}
.banner_details{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 530px;
}
/* ================================section====================================== */
.heading h1{
    font-size: 25px;
    font-weight: 500;
    color: rgb(31, 31, 31);
}
.line{
    width: 100px;
    height: 5px;
    background-color: rgb(76, 157, 249);
    margin-bottom: 30px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.para p{
    width: 500px;
    font-size: 16px;
    color: rgb(27, 26, 26);
    line-height: 2rem;
}
.para{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 15px; 
}
.banner_detail2{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.banner{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 160px;
}