.row{
    width: 60%;
    height: 400px;
    display:grid ;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap:20px;
    grid-row-gap:20px;
}


.col{
    width: 300px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(6, 6, 6);
}
.col:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 4;
}
.col:nth-child(1){
    grid-row-start: 1;
    grid-row-end:3;
}